@import url('https://fonts.googleapis.com/css?family=Michroma|Roboto');
/** {
	border: 1px solid blue;
}*/
html, body {
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/*Display information*/
.location {
	height: 460px;
}
.content {
	position: relative;
	top:400px;
}

form {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 20px;

}

.daterange {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: lighter;
}
.location p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding-left: 10px;
}

h3 {
	color: #0884fe;
	font-size: 30px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	padding: 0 16px;
	text-align: left;
}

h4 {
	background-color:#0884fe;
	color: white;
	height: 35px;	
	font-family: 'Roboto',sans-serif;
	font-weight: lighter;
	font-size: 25px;
	padding-top: 5px;
	border-radius: 5px;
}

.checkbox-text {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	text-align: left;
	margin-left:-15px;
}
/* Google maps section*/
#map {
    height: 700px;
    margin-left: 16px;
    margin-right: 16px;
}

.googlemap {
	height: 700px;
	background-color: #fff;
	position: relative;
	top:100px;
	margin: 0;
}
p{
	text-align: left;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	line-height: 1.7em; 
}
h2 {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	z-index: 9999;
	font-size: 36px;
	text-align: left;
	margin: 10px 0px;
}

/* Header and navogation bar*/
.header {
	background-color: #0884fe;
	width:100%;
	height: 100px;
	position: fixed;
	top:0;
	left:0;
	z-index: 9999;
}

.logo {
	float: left; 
}

.logo h1 {
	color: white;
	font-size: 36px;
	font-family: 'Michroma',sans-serif;
	padding-top: 10px;
}

.nav {
	float: right;
}

.nav li {
	line-height: 1;
	float: right;
	display: inline;
	padding: 35px 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: white;
}

p a {
	text-decoration: none;
	color: #0884fe;
}

p span {
	font-family: 'Michroma',sans-serif;
}

a:hover {
	text-decoration: none;
	color: black;
}